body {background-color: azure;}

#app {
    background-color: aliceblue;
    height: 100vh;
    width: 100vw;
}

#gamewrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {width:3rem;
    height: auto;
    }

.logedout{color: red;
    font-weight: bold;}

#users, #game, #timer {visibility:none;}

#users {list-style-type: none;
    background-color: white;
    color: green;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    padding:1rem;
    border:1px dotted grey;
    border-radius: 8px;
    }

#game {visibility:none;
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 50vw;
    border: 1px dotted grey;
    background-color: rgb(239, 243, 243);
    
}

#gametitle{margin:1rem auto 1rem auto;
    color: darkblue;}

#title-wrapper {display:flex;
    flex-direction: column;
    align-items: center;}

#message-wrapper {
    flex-grow: 1;
}

#login-form {display:flex;
    justify-content: space-around;
    margin: 1rem auto;
}

#waiting{font-size: 1.5rem;
    color: blue;
    font-weight: bold;}

#second-wrapper {display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}

#feedback {list-style-type: none;}

#timer {text-align: center;
    font-size: xx-large;
    color: cadetblue;
    visibility:none;
    }